{
    width: 600px;
    border: solid black 1px;
}

#cadre1
{
    height: 500px;
    width: 300px;
    float: left;
    border: solid black 1px;
}

#cadre2
{
    height: 500px;
    width: 300px;
    margin-left: 300px;
    border: solid black 1px;
}

.centre
{
    height: 100px;
    width: 100px;
    margin-left: 100px;
}
